---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "O mnie";
const identity = {
    firstname: "Magdalena",
    country: "Polski",
    profession: "Specjalista IT",
    interests: ["programowanie", "finanse i inwestycje", "czytanie książek", "malowanie i rysowanie"],
};
const skills = ["HTML", "CSS", "SQL", "C#", "OCR - IRIS XTRACT", "Python"];

const happy = true;
const finished = false;
---

<BaseLayout pageTitle={pageTitle}>
        <p>Nazywam się {identity.firstname} i pochodzę z {identity.country}.</p>
        <p>Obecnie pracuję jako {identity.profession}.</p>
        <p>Jestem entuzjastką nowych technologii, programowania i finansów.</p>
        <p>Moje umiejętności:</p>
        <ul>
            {skills.map((skill) => 
                <li class="skill">{skill}</li>
            )}
        </ul>
        <p>Ta strona nie zawiera jeszcze zbyt wielu informacji o mnie.</p>
        <p>Stopniowo będę ulepszać tę stronę i dodawać więcej ciekawych treści.</p>
        <p>Dzięki za odwiedziny!</p>
        {happy && <p>Fajnie, że uczę się Astro!</p>}
        {finished && <p>Skończyłam tutorial!</p>}
</BaseLayout>